.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.danger {
  color: red;
}

.HighDesert {
  background-color:#e0d7ff !important;
}

.OC {
  background-color: #ffdfba !important;
}

.IE{
  background-color: #e1f7d5 !important;
}

.LA {
  background-color: #FFCCE1 !important;
}

.SD {
  background-color: #d7eeff !important;
}

.Ventura { 
  background-color: #FFE3E3 !important;
}

.alignLeft{
  text-align: left;
}

.activeTimer {
  background-color: #c0faa1 !important;
  border-radius: 5pt;
  outline: 2px solid rgb(35, 122, 35);  
}

.waitingTimer {
  background-color: #e6f9db;
  border-radius: 5pt;
  outline: 2px solid #c0faa1;  
}